.box{
    background-color: aquamarine;
    border:1px red solid;
    border-radius: 5px;
    width: 400px;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 3s linear 1s;
    transition-duration: infinite;
}
.box:hover{
    transform: rotate(360deg);
    transform: scale(2);
    transform: scale(0.2);
    transform: skew(45deg);
    transform: translate(0px,500px);
}
.container{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 36px;
}
